In [6]:
#3.2
name = input('이름을 입력하세요: ')
height = int(input('키를 입력하세요: '))

if height < 140:
    print(name, '님은 놀이기구를 탈 수 없습니다.')
else:
    print(name, '님은 놀이기구를 탈 수 있습니다.')

이름을 입력하세요: 승주
키를 입력하세요: 132
승주 님은 놀이기구를 탈 수 없습니다.

In [9]:
#3.3
age = int(input('나이를 입력하시오: '))
height = int(input('키를 입력하시오(단위 cm): '))
if (age >= 19) and (height >= 150):
    print('입장할 수 있습니다.')
else:
    print('입장할 수 없습니다.')

나이를 입력하시오: 16
키를 입력하시오(단위 cm): 162
입장할 수 없습니다.

In [14]:
#3.4
age = int(input('나이를 입력하시오: '))
if (age >= 20):
    print('Adult')
elif (age >= 10) and (age < 20):
    print('Youth')
else: 
    print('Kid')

나이를 입력하시오: 9
Kid

In [16]:
#3.5
a, b = input('두 정수를 입력하시오: ').split()   #입력받은 값을 공백을 기준으로 분리
a = int(a)   # 입력받은 변수들을 정수로 변환
b = int(b)
if (a > b):   #가장 작은 수부터 출력
    print(b, a)
else:
    print(a, b)

두 정수를 입력하시오: 15 33
15 33

In [21]:
#3.6 
a, b, c = input('세 정수를 입력하시오: ').split()   #입력받은 값을 공백을 기준으로 분리
a = int(a)    #입력 받은 변수들을 정수로 변환
b = int(b)
c = int(c)

if(a > b) and (b > c):
    print(c, b, a)
elif(a < b) and (a > c):
    print(c, a, b)
elif(b < a) and (a < c):
    print(b, a, c)
elif(b < c) and (c < a):
    print(b, c, a)
elif(a < b) and (b < c):
    print(a, b, c)
else:
    print(a, c, b)

세 정수를 입력하시오: 99 12 4
4 12 99

In [24]:
#3.7
game_score = int(input('게임점수를 입력하시오: '))
if(game_score >= 1000):
    print('고수입니다.')
else:
    print('입문자입니다.')

게임점수를 입력하시오: 1200
고수입니다.

In [7]:
#3.8
x = int(input('점의 좌표 x를 입력하시오: '))
y = int(input('점의 좌표 y를 입력하시오: '))

if x > 0 and y > 0:
    print('1사분면에 있음')
elif x < 0 and y > 0:
    print('2사분면에 있음')
elif x < 0 and y < 0: 
    print('3사분면에 있음')
else: 
    print('4사분면에 있음')

점의 좌표 x를 입력하시오: -2
점의 좌표 y를 입력하시오: -4
3사분면에 있음

In [36]:
#3.9
n = int(input('정수를 입력하시오: '))
if(n % 2 == 0):
    print(n, '는(은) 2(으)로 나누어집니다.')
if(n % 2 != 0):
    print(n, '는(은) 2(으)로 나누어지지 않습니다.')
if(n % 3 == 0):
    print(n, '는(은) 3(으)로 나누어집니다.')
if(n % 3 != 0):
    print(n, '는(은) 3(으)로 나누어지지 않습니다.')
if(n % 2 == 0) and (n % 3 == 0):
    print(n, '는(은) 2와(과) 3 모두로 나누어집니다.')
else:
    print(n, '는(은) 2와(과) 3 모두로 나누어지지 않습니다.')

정수를 입력하시오: 12
12 는(은) 2(으)로 나누어집니다.
12 는(은) 3(으)로 나누어집니다.
12 는(은) 2와(과) 3 모두로 나누어집니다.

In [47]:
#3.10
a, b = input('두 정수를 입력하시오: ').split()                  
a = int(a)
b = int(b)
if (a % b == 0):
    print(a,'는(은)', b, '의 배수입니다.')
else:
    print(a,'는(은)', b, '의 배수가 아닙니다.')

두 정수를 입력하시오: 13 2
13 는(은) 2 의 배수가 아닙니다.

In [53]:
#3.14
alphabet = input('알파벳을 입력하시오: ')
if(alphabet == 'a' or alphabet == 'e' or alphabet == 'i' or alphabet == 'o' or alphabet == 'u'):
    print(alphabet, '(은)는 모음입니다.')
else:
    print(alphabet, '(은)는 자음입니다.')

알파벳을 입력하시오: b
b (은)는 자음입니다.

In [60]:
#3.17
for i in range(3):
    print('Python ')
    print('is ')
    print('FUN! ')
print('\n')

for i in range(3):
    print('Python ')
    print('is ')
print('FUN! ')

Python
is
FUN!
Python
is
FUN!
Python
is
FUN!


Python
is
Python
is
Python
is
FUN!

In [68]:
#3.20
n = int(input('숫자를 입력하세요: '))
for i in range (1, n+1):
    for j in range(n - i):
        print(' ', end = '')
    for j in range(i):
        print('*', end = '')
    print('')

숫자를 입력하세요: 6
     *
    **
   ***
  ****
 *****
******

In [66]:
#3.21
n = int(input('숫자를 입력하세요: '))
is_prime = 0
for i in range(2, n):
    if n % i == 0:
        is_prime = 1
if is_prime == 0:
    print(n, '소수입니다.')
else:
    print(n, '소수가 아닙니다.')

숫자를 입력하세요: 9
9 소수가 아닙니다.

In [65]:
#3.23
n = int(input('숫자를 입력하세요: '))
sum = 0
for i in range(1, n+1):
    sum = sum + i ** 2
print('결과는', sum,'입니다.')

숫자를 입력하세요: 21
결과는 3311 입니다.

In [58]:
#3.24
n = int(input('숫자를 입력하세요: '))
sum = 0
for i in range(1, n+1):
    sum = sum + 1 / (i ** 2)
print('결과는', sum,'입니다.')

숫자를 입력하세요: 10
결과는 1.5497677311665408 입니다.