In [30]:
#6.3
#1
menu = {'Americano' : 3000, 'Ice Americano' : 3500, 'Cappuccino' : 4000, 'Cafe Latte' : 4500, 'Espresso' : 3600}
for key, value in menu.items():
    print(key,'가격:',value)
#2
order = input('위의 메뉴중 하나를 선택하세요: ')
if order in menu:
    print(order,'는', value, '원 입니다. 결제를 부탁합니다.')
else:
    print('미안합니다.',order, '는 메뉴에 없습니다.')

Americano 가격: 3000
Ice Americano 가격: 3500
Cappuccino 가격: 4000
Cafe Latte 가격: 4500
Espresso 가격: 3600
위의 메뉴중 하나를 선택하세요: Espresso
Espresso 는 3600 원 입니다. 결제를 부탁합니다.

In [6]:
#6.4
t = (10,20,30,40)
t.append(50)   
t = (10,20,30,40)
t.remove(50)
t[0] = 0
t = (10, 20, 30, 40)
t[0] = 0
# 튜플은 변경 불가능한 자료형이기에 변경하려면 리스트로 변환 후 변경 가능함

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
#6.5
t = (10, 20, 30, 40, 50, 60)
print('t[0] =', t[0])
print('t[0:2] =', t[0:2])
print('t[1:] =', t[1:])
print('t[:3] =', t[:3])
print('t[1::2] =', t[1::2])
print('t[::-1] =', t[::-1])

t[0] = 10
t[0:2] = (10, 20)
t[1:] = (20, 30, 40, 50, 60)
t[:3] = (10, 20, 30)
t[1::2] = (20, 40, 60)
t[::-1] = (60, 50, 40, 30, 20, 10)

In [9]:
#6.6
t1 = 'a', 'b', 'c'
t2 = ('a', 'b', 'c')
t3 = ('d', 'e')
t1 == t2
print('(1)', t1 == t2)
t2 + t3
print('(2)', t2 + t3)

my_list = []
for x in t1:
    my_list.append(x)
print('(3)', my_list)

[x for x in t1]   #t1의 모든 원소를 x에 넣어 리스트로 만듦
print('(4)', [x for x in t1])

my_list = []
for x in t1:
    for y in t3:
        my_list.append(x+y)
print('(5)', my_list)

[x + y for x in t1 for y in t3]   #t1의 모든 원소와 t3의 모든 원소 쌍을 더함
print('(6)', [x + y for x in t1 for y in t3])

(1) True
(2) ('a', 'b', 'c', 'd', 'e')
(3) ['a', 'b', 'c']
(4) ['a', 'b', 'c']
(5) ['ad', 'ae', 'bd', 'be', 'cd', 'ce']
(6) ['ad', 'ae', 'bd', 'be', 'cd', 'ce']

In [3]:
#6.7
day = (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
list_day = list(day)
cnt = 0   #매출이 전날보다 감소한 날 카운트
for i in range(len(list_day)-1):   #전날대비니까 len(list_day)-1까지 범위설정
    if list_day[i] > list_day[i+1]:
        cnt += 1
print('지난 10일 동안 전일대비 매출이 감소한 날은', cnt,'일 입니다.')

지난 10일 동안 전일대비 매출이 감소한 날은 3 일 입니다.

In [19]:
#6.8
tup = (1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9)
print('주어진 튜플은:', tup)
dup = set()   #set 중복을 허용하지 않는 데이터의 조합
for i in tup:
    if tup.count(i) > 1:   #이미 tup 안에 원소 i가 있다면 dup의 원소
        dup |= {i}
print('중복 원소는:', dup)

주어진 튜플은: (1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9)
중복 원소는: {1, 2, 4, 9}

In [13]:
#6.9
tup = (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3)
print('주어진 튜플:', tup)
tup_set = set(tup)   #set 중복을 허용하지 않는 데이터의 조합
tup_set = tuple(tup_set)
print('중복 제거 튜플:', tup_set)

주어진 튜플: (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3)
중복 제거 튜플: (1, 2, 3, 4, 5, 7, 8, 9)

In [3]:
#6-12
lst = [5, 6, 3, 9, 2, 12, 3, 8, 7]
print('주어진 리스트는 =', lst)
for i in range(len(lst) - 1):   #임시변수를 사용하지 않고 두 변수의 값을 swap하기 위해 튜플 데이터를 이용
    if (lst[i] > lst[i+1]):
        lst[i], lst[i+1] = lst[i+1], lst[i]
print('가장 큰 수를 마지막으로 옮긴 결과:', lst)

주어진 리스트는 = [5, 6, 3, 9, 2, 12, 3, 8, 7]
가장 큰 수를 마지막으로 옮긴 결과: [5, 3, 6, 2, 9, 3, 8, 7, 12]

In [1]:
#6-13
lst = [5, 6, 3, 9, 2, 12, 3, 8, 7]
print('주어진 리스트는 =', lst)
for i in range(len(lst) -1):   #버블정렬: 인접한 2개의 데이터를 비교하여 정렬
    for j in range(len(lst) - 1 - i):
        if lst[j] > lst[j+1]:
            lst[j], lst[j+1] = lst[j+1], lst[j]   #튜플을 이용해 swap
    print('{} 단계: {}'.format(i+1, lst))   #'format() 사용법: {인덱스0}, {인덱스1}'.format(값0, 값1)

주어진 리스트는 = [5, 6, 3, 9, 2, 12, 3, 8, 7]
1 단계: [5, 3, 6, 2, 9, 3, 8, 7, 12]
2 단계: [3, 5, 2, 6, 3, 8, 7, 9, 12]
3 단계: [3, 2, 5, 3, 6, 7, 8, 9, 12]
4 단계: [2, 3, 3, 5, 6, 7, 8, 9, 12]
5 단계: [2, 3, 3, 5, 6, 7, 8, 9, 12]
6 단계: [2, 3, 3, 5, 6, 7, 8, 9, 12]
7 단계: [2, 3, 3, 5, 6, 7, 8, 9, 12]
8 단계: [2, 3, 3, 5, 6, 7, 8, 9, 12]

In [2]:
#6-15
t = (4, 5, 2, 3, 8, 1, 9, 0)
for i in range(len(t)):
    print(t[: len(t)-i])

(4, 5, 2, 3, 8, 1, 9, 0)
(4, 5, 2, 3, 8, 1, 9)
(4, 5, 2, 3, 8, 1)
(4, 5, 2, 3, 8)
(4, 5, 2, 3)
(4, 5, 2)
(4, 5)
(4,)

In [43]:
#6.16
student_tuple = (
    ('191101', '홍길동', '010-123-45xx'),
    ('191102', '임꺽정', '010-223-45xx'),
    ('191103', '장길산', '010-323-45xx'),
)

stduent_dic = {a: b for a, b, c in student_tuple}
print(stduent_dic)
while 1:
    num = input('학번을 입력하세요')
    if num == '-1':
        print('프로그램을 종료합니다.')
        break
    if num in stduents:
        print(f'{num}번 학생은 {stduents[num]}입니다.')
    else:
        print('해당 학번의 학생은 없습니다.')

{'191101': '홍길동', '191102': '임꺽정', '191103': '장길산'}
학번을 입력하세요191102
191102번 학생은 임꺽정입니다.
학번을 입력하세요191106
해당 학번의 학생은 없습니다.
학번을 입력하세요-1
프로그램을 종료합니다.

In [39]:
#6.17
population_A = (100, 150, 230, 120, 180, 100, 140, 95, 81, 21, 4)
population_B = (300, 420, 530, 420, 400, 300, 40, 5, 1, 1, 1)

print('마을 A와 B에 보낼 투표용지의 개수는 각각 {} 장과 {} 장입니다.'.format(sum(population_A[2:]), sum(population_B[2:])))
print('마을 A와 B의 고령화 정도는 각각 {:0.3f}와 {:0.3f}입니다.'
      .format(sum(population_A[7:])/sum(population_A), sum(population_B[7:])/sum(population_B)))

마을 A와 B에 보낼 투표용지의 개수는 각각 971 장과 1698 장입니다.
마을 A와 B의 고령화 정도는 각각 0.165와 0.003입니다.

In [45]:
#6.21
s = input('문자열을 입력하세요: ')
if s == s[::-1]:   #전체 문자열을 역순으로 출력해주는 것
    print('회문입니다.')
else:
    print('회문이 아닙니다.')

문자열을 입력하세요: racecar
회문입니다.

In [40]:
#6.26
mylist = [(1, 2), (4, 5), (4, 2), (3, 1), (9, 4)]
answer = tuple(map(int, input('두 정수를 입력하시오: ').split()))
if answer in mylist:   #mylist 요소와 같은 요소일때
    print('{}번째에 {} 요소가 있습니다'.format(mylist.index(answer)+1, answer))   
                                                    #index 자리수가 0부터 시작하니까 1더해주기 (0번째 -> 1번째)
elif answer[::-1] in mylist:   #mylist 요소와 역순인 요소일때
    print('{} 요소는 없으나 {}번째에 {} 요소가 있습니다.'.format(answer, mylist.index(answer[::-1])+1, answer[::-1]))
else: 
    print('이 요소는 없습니다.')

두 정수를 입력하시오: 4 9
(4, 9) 요소는 없으나 5번째에 (9, 4) 요소가 있습니다.