In [1]:
#10-1
add = lambda x, y: x + y
print('100과 200의 합:', add(100, 200))

print('100과 200의 합:', (lambda x, y: x + y)(100, 200))

100과 200의 합: 300
100과 200의 합: 300

LAB 10-1

In [2]:
sub = lambda x, y: x - y
print('200 - 100 =', sub(200, 100))

print('200 - 100 =', (lambda x, y: x - y)(200, 100))

200 - 100 = 100
200 - 100 = 100

In [3]:
#10-4
ages = [34, 39, 20, 18, 13, 54]
print('성년 리스트:')
for a in filter(lambda x: x >= 19, ages):
    print(a, end = ' ')

성년 리스트:
34 39 20 54

In [4]:
#10-5
ages = [34, 39, 20, 18, 13, 54]
print('성년 리스트:')
for a in filter(lambda x: x >= 19, ages):
    print(a, end = ' ')

성년 리스트:
34 39 20 54

In [5]:
#짝수의 값을 판별하는 람다 함수
lists = [1, 2, 3, 4, 5, 6]
print('짝수 리스트:')
for a in filter(lambda x: x % 2 == 0, lists):
    print(a, end = ' ')

짝수 리스트:
2 4 6

LAB 10-2

In [6]:
#1-1
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list = []
for n in filter(lambda x: x % 2 == 0, n_list):
    even_list.append(n)

print('even_list =', even_list)

even_list = [2, 4, 6, 8, 10]

In [7]:
#1-2
n_list = [1, 2, 3, 4, 5 ,6, 7, 8, 9, 10]
even_list = list(filter(lambda x: x % 2 == 0, n_list))
print('even_list =', even_list)

even_list = [2, 4, 6, 8, 10]

In [8]:
#2-1
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_list = []
for n in filter(lambda x: x % 2 != 0, n_list):
    odd_list.append(n)

print('odd_list =', odd_list)

odd_list = [1, 3, 5, 7, 9]

In [9]:
#2-2
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_list = list(filter(lambda x: x % 2 != 0, n_list))
print('odd_list =', odd_list)

odd_list = [1, 3, 5, 7, 9]

In [11]:
#10-12
a = [1, 2, 3, 4, 5, 6, 7]
square_a = list(map(lambda x: x ** 2, a))
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

LAB 10-3

In [12]:
#1-1
a_list = ['a', 'b', 'c', 'd']
def to_upper(x):
    return x.upper()

upper_a_list = list(map(to_upper, a_list))
print('upper_a_list =', upper_a_list)

upper_a_list = ['A', 'B', 'C', 'D']

In [13]:
#1-2
a_list = ['a', 'b', 'c', 'd']
upper_a_list = list(map(lambda x: x.upper(), a_list))
print('upper_a_list =', upper_a_list)

upper_a_list = ['A', 'B', 'C', 'D']

In [14]:
#2-1
n_list = [10, 20, 30]
def twice(x):
    return x * 2
def triple(x):
    return x * 3
twice_n_list = list(map(twice, n_list))
print('입력 값의 두 배:', twice_n_list)
triple_n_list = list(map(triple, n_list))
print('입력 값의 세 배:', triple_n_list)

입력 값의 두 배: [20, 40, 60]
입력 값의 세 배: [30, 60, 90]

In [15]:
#2-2
n_list = [10, 20, 30]
twice_n_list = list(map(lambda x: x * 2, n_list))
print('입력 값의 두 배:', twice_n_list)
tripe_n_list = list(map(lambda x: x * 3, n_list))
print('입력 값의 세 배:', triple_n_list)

입력 값의 두 배: [20, 40, 60]
입력 값의 세 배: [30, 60, 90]

In [16]:
#10-13
from functools import reduce

a = [1, 2, 3, 4]
n = reduce(lambda x, y: x + y, a)
print(n)

10

LAB 10-4

In [18]:
#1
from functools import reduce
total = reduce(lambda x, y: x + y, range(1, 101))
print('1에서 100까지의 합:',total)

1에서 100까지의 합: 5050

In [19]:
#2
from functools import reduce
factorial = reduce(lambda x, y: x * y, range(1, 11))
print('10! =', factorial)

10! = 3628800

In [20]:
#10-15
a = [1, 2, 3, 4, 5, 6, 7]
a = list(map(lambda x: x ** 2, a))
print(a)

a = [1, 2, 3, 4, 5, 6, 7]
a = [x ** 2 for x in a]
print(a)

a = [x ** 2 for x in range(1, 8)]
print(a)

[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49]

LAB 10-5

In [21]:
#1
cubic  = [x ** 3 for x in range(1, 11)]
print('cubic =', cubic)

a = ['welcome', 'to', 'the', 'python', 'world']
first_a = []
print('first_a =', first_a)

cubic = [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
first_a = []

In [22]:
#2
a = ['welcome', 'to', 'the', 'python', 'world']
first_a = [x[0] for x in a]
print('first_a =', first_a)

first_a = ['w', 't', 't', 'p', 'w']

대화창 실습: 리스트의 축약 표현 실습

In [23]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
[x * x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

In [26]:
[x for x in range(10) if x % 2 == 1]

[1, 3, 5, 7, 9]

In [27]:
[x * x for x in range(10) if x % 2 == 0]

[0, 4, 16, 36, 64]

In [28]:
[x * x for x in range(10) if x % 2 == 1]

[1, 9, 25, 49, 81]

In [29]:
#10-23
product_xy = []
for x in [1, 2, 3]:
    for y in [2, 4, 6]:
        product_xy.append(x * y)
print(product_xy)

product_xy = [x * y for x in [1, 2, 3] for y in [2, 4, 6]]
print(product_xy)

[2, 4, 6, 4, 8, 12, 6, 12, 18]
[2, 4, 6, 4, 8, 12, 6, 12, 18]

LAB 10-6

In [30]:
#1
cubic = [n ** 3 for n in range(1, 11) if n ** 3 <= 500]
print('cubic =', cubic)

cubic = [1, 8, 27, 64, 125, 216, 343]

In [31]:
#2
st = 'Hello 1234 Python'
st_digit = [x for x in st if x.isdigit() == True]
print(st_digit)

['1', '2', '3', '4']

In [34]:
#10-28
class OddCounter:
    def __init__(self, n = 1):
        self.n = n
    def __iter__(self):
        return self
    def __next__(self):
        if self.n < 20:
            t = self.n
            self.n += 2
            return t
        raise StopIteration

my_counter = OddCounter()
for x in my_counter:
    print(x, end = ' ')

1 3 5 7 9 11 13 15 17 19

LAB 10-7

In [39]:
#1
class EvenCounter:
    def __init__(self, n = 0):
        self.n = n
    def __iter__(self):
        return self
    def __next__(self):
        if self.n < 9:
            t = self.n
            self.n += 2
            return t
        raise StopIteration

my_even = EvenCounter()
for x in my_even:
    print(x, end = ' ')

0 2 4 6 8

In [43]:
#2
class EvenCounter:
    def __init__(self, n = 0):
        self.n = n
    def __iter__(self):
        return self
    def __next__(self):
        t = self.n
        self.n += 2
        return t

my_even = EvenCounter()
for x in my_even:
    print(x, end = ' ')
    if x == 20:
        break

0 2 4 6 8 10 12 14 16 18 20

LAB 10-8

In [44]:
#1
txt = 'Welcome to Busan Metropolitan City.'
txt.split()

['Welcome', 'to', 'Busan', 'Metropolitan', 'City.']

In [45]:
#2
greet = 'Hello,My name is DongMin,Good to see you again'
greet.split(',')

['Hello', 'My name is DongMin', 'Good to see you again']

In [47]:
#3
fruits = 'Apple|Banana|Melon|Orange'
list_ = []
for i in fruits.split('|'):
    list_.append(i)
print(list_)

['Apple', 'Banana', 'Melon', 'Orange']