In [1]:
#LAB 6-1
#1
capital_dic = {'Korea':'Seoul', 'China':'Beijing', 'USA':'Washington DC'}
print('a)', capital_dic['Korea'])
print('b)', capital_dic['China'])
print('c)', capital_dic['USA'])
#2
fruits_dic = {'apple':5000, 'banana':4000, 'grape':5300, 'melon':6500}
print('apple의 가격은', fruits_dic['apple'],'입니다.')
print('banana의 가격은', fruits_dic['banana'],'입니다.')
print('grape의 가격은', fruits_dic['grape'],'입니다.')
print('melon의 가격은', fruits_dic['melon'],'입니다.')

a) Seoul
b) Beijing
c) Washington DC
apple의 가격은 5000 입니다.
banana의 가격은 4000 입니다.
grape의 가격은 5300 입니다.
melon의 가격은 6500 입니다.

In [2]:
#LAB 6-2
#1
person = {'이름':'홍길동', '나이':26, '몸무게':82}
person['특기'] = '분신술'   #새로운 키:값의 항목 삽입
print(person)
#2
person['아버지'] = '홍판서'
print(person)
#3
del person['나이']   #딕셔너리의 항목 삭제
print(person)

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술'}
{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}
{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

In [3]:
#LAB 6-3
#1
capital_dic = {'Korea':'Seoul', 'China':'Beijing', 'USA':'Washington DC'}
print('Korea' in capital_dic)
print('China' in capital_dic)
print('Indonesia' in capital_dic)
print('Beijing' in capital_dic)

True
True
False
False

In [4]:
#LAB 6-4
#1
fruits_dic = {'apple':6000, 'melon':3000, 'banana':5000, 'orange':7000}
print(fruits_dic)
#2
print(fruits_dic.keys())
#3
print(fruits_dic.values())
#4
fruits_dic.pop('apple')
print(fruits_dic)
#5
fruits_dic.clear()   #딕셔너리의 모든 항목 삭제
print(fruits_dic)

{'apple': 6000, 'melon': 3000, 'banana': 5000, 'orange': 7000}
dict_keys(['apple', 'melon', 'banana', 'orange'])
dict_values([6000, 3000, 5000, 7000])
{'melon': 3000, 'banana': 5000, 'orange': 7000}
{}

In [9]:
#LAB 6-5
#1
fruits_dic = {'apple':6000, 'melon':3000, 'banana':5000, 'orange':4000}
list_fruits = []
for key in fruits_dic:
    list_fruits.append(key)
print(list_fruits)

#2
list_fruits = []
for key in fruits_dic.values():
    list_fruits.append(key)
print(list_fruits)

#3
print('fruits_dic 딕셔너리의 항목의 개수:', len(fruits_dic))

#4
if 'apple' in fruits_dic.keys():
    print('apple is in fruits_dic.')
else:
    print('apple is not in fruits_dic.')
if 'mango' in fruits_dic.keys():
    print('mango is in fruits_dic.')
else:
    print('mango is not in fruits_dic.')

['apple', 'melon', 'banana', 'orange']
[6000, 3000, 5000, 4000]
fruits_dic 딕셔너리의 항목의 개수: 4
apple is in fruits_dic.
mango is not in fruits_dic.

In [13]:
#LAB 6-6
#1
the_day = (1919, 3, 1)
year, month, day = the_day
print(year, '년', month, '월', day,'일은 삼일절입니다.')
#2
n_list = [10, 20, 30]
t = tuple(n_list)
c, b, a = t
print('a =', a)
print('b =', b)
print('c =', c)

1919 년 3 월 1 일은 삼일절입니다.
a = 30
b = 20
c = 10

In [19]:
#LAB 6-7
#1
person = ('홍길동', 2019001, 179)
p_list = list(person)
print('person =', person)

#2
person[1] = 2019003    #튜플은 리스트와 달리 불변 자료형으로 내부의 값을 변경할 수 없다
print('person =', person)

person = ('홍길동', 2019001, 179)

TypeError: 'tuple' object does not support item assignment

In [20]:
#LAB 6-7
#3
person = ('홍길동', 202003, 179)
p_list = list(person)
p_list[1] = 2019003
person = tuple(p_list)
print('학번 변동 후 person =', person)

학번 변동 후 person = ('홍길동', 2019003, 179)

In [22]:
#LAB 6-9
#1
lst = ['apple', 'mango', 'banana']   #3개의 과일 정보를 가지는 리스트
s1 = set(lst)   #lst로부터 생성된 집합 s1
print('lst =', lst)
print('s1 =', s1)

#2
greet = 'Good afternoon'   #문자열 greet
s2 = set(greet)   #greet로부터 생성된 집합 s2
print('greet =', greet)
print('s2 =', s2)

lst = ['apple', 'mango', 'banana']
s1 = {'apple', 'mango', 'banana'}
greet = Good afternoon
s2 = {'r', 'o', 'f', 'e', 'n', 'a', ' ', 't', 'd', 'G'}

In [25]:
#LAB 6-10
#1
s1 = {10, 20, 30, 40}
s2 = {30, 40, 50, 60, 70}
print('1) s1 | s2', s1.union(s2))
print('2) s1 & s2', s1.intersection(s2))
print('3) s1 - s2', s1.difference(s2))
print('4) s1 ^ s2', s1.symmetric_difference(s2))
print('5) s1.issubset(s2)', s1.issubset(s2))
print('6) s1.issuperset(s2)', s1.issuperset(s2))
print('7) s1.isdisjoint(s2)', s1.isdisjoint(s2))

1) s1 | s2 {70, 40, 10, 50, 20, 60, 30}
2) s1 & s2 {40, 30}
3) s1 - s2 {10, 20}
4) s1 ^ s2 {50, 20, 70, 10, 60}
5) s1.issubset(s2) False
6) s1.issuperset(s2) False
7) s1.isdisjoint(s2) False