In [2]:
#LAB 3-1 
#1
game_score = int(input('game_score = '))
if game_score >= 1000:
    print('당신은 고수입니다')
    
print('\n')

game_score = 1000
당신은 고수입니다

In [3]:
#LAB 3-1
#2
num_a = int(input('num_a = '))
num_b = int(input('num_b = '))

if num_a == num_b:
    print('두 값이 일치합니다.')
    
print('\n')

num_a = 100
num_b = 100
두 값이 일치합니다.

In [4]:
#LAB 3-2 
#1
number = int(input('정수를 입력하세요: '))
print('n =', number)
if number % 2 == 0:
        print(number, '은(는) 짝수입니다.')
        
print('\n')

정수를 입력하세요: 50
n = 50
50 은(는) 짝수입니다.

In [5]:
#LAB 3-2 
#2
number = int(input('정수를 입력하세요: '))
print('n =', number)
if number > 0:
    print(number, '은(는) 자연수압니다.')
    
print('\n')

정수를 입력하세요: -10
n = -10

In [6]:
#LAB 3-3 
#1
game_score = int(input('게임점수를 입력하시오: '))
if game_score >= 1000:
    print('고수입니다.')
else:
    print('입문자입니다.')

print('\n')

게임점수를 입력하시오: 2000
고수입니다.

In [7]:
#LAB 3-3 
#2
num1 = int(input('한 정수를 입력하시오: '))
num2 = int(input('다른 정수를 입력하시오: '))
if num1 == num2:
    print('두 값이 일치합니다.')
else:
    print('두 값이 일치하지 않습니다.')
    
print('\n')

한 정수를 입력하시오: 100
다른 정수를 입력하시오: 200
두 값이 일치하지 않습니다.

In [73]:
#LAB 3-3
#3-(1)
adult_or_not = int(input('당신은 성인인가요(성인이면 1, 미성년이면 0): '))
if adult_or_not == 0:
    print('당신은 미성년자입니다.')
print('\n')

#3-(2)
adult_or_not = int(input('당신은 성인인가요(성인이면 1, 미성년이면 0): '))
if adult_or_not == 1:
    married_or_not = int(input('결혼을 하셨나요(기혼이면 1, 미혼이면 0)'))
    if married_or_not == 1:
        print('당신은 결혼한 성인입니다.')
    else:
        print('당신은 결혼하지 않은 성인입니다.')

당신은 성인인가요(성인이면 1, 미성년이면 0): 0
당신은 미성년자입니다.


당신은 성인인가요(성인이면 1, 미성년이면 0): 1
결혼을 하셨나요(기혼이면 1, 미혼이면 0)0
당신은 결혼하지 않은 성인입니다.

In [8]:
#LAB 3-4 
#1
num = 2
if (num >= 1)and (num <= 10):
    print('True')
    
print('\n')

True

In [9]:
#LAB 3-4 
#2
age = int(input('age = '))
if (age > 10) and (age < 19):
    print('청소년입니다.')

print('\n')

age = 18
청소년입니다.

In [10]:
#LAB 3-5 
#1
speed = int(input('자동차의 속도를 입력하세요(단위: km/h): '))
if (speed >= 100):
    print('고속')
elif (60 <= speed < 100):
    print('중속')
else:
    print('저속')
    
print('\n')

자동차의 속도를 입력하세요(단위: km/h): 60
중속

In [13]:
#LAB 3-5
#2
dust = int(input('미세먼지 농도를 입력하세요(단위: microgram/m^3): '))
if (dust >= 0) and (dust <= 15):
    print('좋음')
elif (dust >= 16) and (dust <= 35):
    print('보통')
elif (dust >= 36) and (dust <= 75):
    print('나쁨')
else:
    print('매우 나쁨')

미세먼지 농도를 입력하세요(단위: microgram/m^3): 33
보통

In [14]:
#LAB 3-6 
#1
for i in range(5):
    print('Hello, Python!')

print('\n')

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

In [15]:
#LAB 3-6
#2
for i in range(5):
    print(i)

print('\n')

0
1
2
3
4

In [16]:
#LAB 3-7 
#1
result1 = list(range(1, 101))
print(result1)
print('\n')
#2
result2 = list(range(2, 101, 2))
print(result2)
print('\n')
#3
result3 = list(range(1, 101, 2))
print(result3)
print('\n')
#4
result4 = list(range(-99, 0))
print(result4)
print('\n')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]


[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]


[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]


[-99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [22]:
#LAB 3-8
#1
sum1 = 0
for i in range(1, 101):
    sum1 = sum1 + i
    
print('1에서 100까지 정수의 합:', sum1)

#2
sum2 = 0
for i in range(0, 101, 2):
    sum2 = sum2 + i

print('1에서 100까지 정수 중에서 짝수의 합:', sum2)

#3
sum3 = 0
for i in range(1, 101, 2):
    sum3 = sum3 + i

print('1에서 100까지 정수 중에서 홀수의 합:', sum3)

1에서 100까지 정수의 합: 5050
1에서 100까지 정수 중에서 짝수의 합: 2550
1에서 100까지 정수 중에서 홀수의 합: 2500

In [66]:
#LAB 3-9
#이중 for 루프를 이용하는 경우
n = 7
for i in range(n):
    st = ' '
    for j in range(n - i):
        st = st + ' '
    print(st + '#')

    
#이중 for 루프를 이용하지 않는 경우
n = 7 
for i in range(n):
    print(' ' * (n - i) + '#')

        #
       #
      #
     #
    #
   #
  #
       #
      #
     #
    #
   #
  #
 #