In [1]:
#LAB 5-1
#1
even_list = [2, 4, 6, 8, 10]
print('even_list =', even_list)
#2
print('even_list =', list(range(2, 11, 2)))
#3
nations = ['Korea', 'China', 'India', 'Nepal']
print('nations =', nations)
#4
friends = ['길동', '철수', '은지', '지은', '영민']
print('friends =', friends)
#5
string = ['X', 'Y', 'Z']
print('string =', string)

even_list = [2, 4, 6, 8, 10]
even_list = [2, 4, 6, 8, 10]
nations = ['Korea', 'China', 'India', 'Nepal']
friends = ['길동', '철수', '은지', '지은', '영민']
string = ['X', 'Y', 'Z']

In [2]:
#LAB 5-2
#1
prime_list = [2, 3, 5, 7]
print('prime_list 의 첫 원소:', prime_list[0])
#2
print('prime_list 의 마지막 원소:', prime_list[3])
#3
print('prime_list 의 마지막 원소:', prime_list[-1])
#4
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print('nations의 첫 원소:', nations[0])
#5
print('nations의 마지막 원소:', nations[-1])
#6
print('nations의 마지막 원소:', nations[len(nations)-1])

prime_list 의 첫 원소: 2
prime_list 의 마지막 원소: 7
prime_list 의 마지막 원소: 7
nations의 첫 원소: Korea
nations의 마지막 원소: Malaysia
nations의 마지막 원소: Malaysia

In [3]:
#LAB 5-3
#1
prime_list = [2, 3, 5, 7]
print('소수 목록:', prime_list)
prime_list.append(11)
print('추가 후 소수 목록:', prime_list)
#2
print('삭제 전 소수 목록:', prime_list)
prime_list.remove(3)
print('삭제 후 소수 목록:', prime_list)
#3
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print('국가 목록:', nations)
nations.append('Nepal')
print('추가 후 국가 목록:', nations)
#4
if('Japan' in nations):
    print('Japan 는(은) 국가 목록에 있습니다.')
else:
    print('Japan 는(은) 국가 목록에 없습니다.')
if('Russia' in nations):
    print('Russia 는(은) 국가 목록에 있습니다.')
else:
    print('Russia 는(은) 국가 목록에 없습니다.')

소수 목록: [2, 3, 5, 7]
추가 후 소수 목록: [2, 3, 5, 7, 11]
삭제 전 소수 목록: [2, 3, 5, 7, 11]
삭제 후 소수 목록: [2, 5, 7, 11]
국가 목록: ['Korea', 'China', 'Russia', 'Malaysia']
추가 후 국가 목록: ['Korea', 'China', 'Russia', 'Malaysia', 'Nepal']
Japan 는(은) 국가 목록에 없습니다.
Russia 는(은) 국가 목록에 있습니다.

In [4]:
#LAB 5-4
#1
prime_list = [2, 3, 5, 7]
print('1에서 10까지의 소수:', prime_list)
print('최솟값:', min(prime_list))
print('최댓값:', max(prime_list))
print('합계:', sum(prime_list))
print('평균값:', sum(prime_list)/len(prime_list))
#2
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print('국가 목록:', nations)
print('사전에 가장 먼저 나오는 나라:', min(nations))   #영어사전 순서로 가장 앞에있는 단어를 반환
print('사전에 가장 뒤에 나온는 나라:', max(nations))   #영어사전 순서로 가장 뒤에 있는 단어를 반환

1에서 10까지의 소수: [2, 3, 5, 7]
최솟값: 2
최댓값: 7
합계: 17
평균값: 4.25
국가 목록: ['Korea', 'China', 'Russia', 'Malaysia']
사전에 가장 먼저 나오는 나라: China
사전에 가장 뒤에 나온는 나라: Russia

In [5]:
#LAB 5-5
#1-(1)
a = [1, 2, 3]
b = [10, 20, 30]
a.append(b)
print(a)
#1-(2)
a = [1, 2, 3]
b = [10, 20, 30]
a.extend(b)
print(a)
#2
nlist = list(range(1, 11))
print('nlist =', nlist)
#3
nlist.insert(0, 0)   #nlist의 제일 앞에 0삽입
print('nlist =', nlist)
#4
nlist.reverse()   #리스트의 원소를 역순으로 다시 배열
print('nlist =', nlist)
#5
print('마지막 원소 =', nlist.pop())   #리스트의 마지막 원소를 삭제하고 반환
print('nlist =', nlist)

[1, 2, 3, [10, 20, 30]]
[1, 2, 3, 10, 20, 30]
nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
마지막 원소 = 0
nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
#LAB 5-6
#1
list = [1, 2, 3]
n = int(input('반복할 정수를 입력하시오: '))
print(list * n)

반복할 정수를 입력하시오: 3
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [7]:
#LAB 5-6
#1
list = [1, 2, 3]
n = int(input('반복할 정수를 입력하시오: '))
print(list * n)

반복할 정수를 입력하시오: 4
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [1]:
#LAB 5-7
#1
n_list = list(range(15))
print('n_list =', n_list)
#2
print('s_list1 =', n_list[0:5])
print('s_list2 =', n_list[5:11])
print('s_list3 =', n_list[11:15])
print('s_list4 =', n_list[2:11:2])
print('s_list5 =', n_list[10:5:-1])
print('s_list6 =', n_list[10:1:-2])

n_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
s_list1 = [0, 1, 2, 3, 4]
s_list2 = [5, 6, 7, 8, 9, 10]
s_list3 = [11, 12, 13, 14]
s_list4 = [2, 4, 6, 8, 10]
s_list5 = [10, 9, 8, 7, 6]
s_list6 = [10, 8, 6, 4, 2]